// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: microsoftJhenghei;
  src: url(assets/microsoftJhenghei.ttf);
}

*,
body {
  font-family: microsoftJhenghei;
}
.logo {
  height: 2.5rem;
}
ion-tab-bar {
  background-image: linear-gradient(
    60deg,
    var(--ion-color-secondary),
    var(--ion-color-primary)
  );
}
.sc-ion-back-button-ios-h {
  color: #fff;
}

ion-icon {
  color: #fff;
  &.sc-ion-searchbar-md {
    color: #000;
  }
}
sc-ion-searchbar-md {
  color: #000;
}

.searchbar-input.sc-ion-searchbar-md {
  box-shadow: none !important;
}

.main-btn {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 999;
  ion-button {
    height: 4rem;
    margin: 0;
    padding: 0;
    --background: linear-gradient(to right, rgb(83, 80, 255), rgb(25, 21, 255));
  }
}

.main-form {
  margin-bottom: 4rem;
}

.main-rounded-btn {
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 1rem;
  left: 0;
  z-index: 999;
  ion-button {
    height: 3rem;
    margin: 0;
    padding: 0;
    --background: linear-gradient(to right, rgb(83, 80, 255), rgb(25, 21, 255));
  }
}

.EditionIcon {
  ion-icon {
    color: var(--color, var(--ion-color-primary, #3880ff));
  }
}
