img {
  height: 30vh;
  width: 100%;
}
.container {
  .event {
    text-align: left;
    margin-bottom: 5rem;

    .event__card {
      padding: 0.5rem 0.5rem;
      .info-row {
        display: flex;
        padding-bottom: 0.5rem;
        .tag {
          flex: 3;
          span {
            color: #fff;
            background: var(--ion-color-primary);
            padding: 0.2rem;
          }
        }
        .stars {
          padding-right: 1rem;
        }
        .date {
          color: rgb(145, 145, 145);
          font-size: 0.7rem;
        }
      }
      .event__title {
        font-weight: bold;
        font-size: 1.3rem;
      }
      .event__body {
        &--detail {
          margin-left: 0.5rem;
          font-size: 0.8rem;
        }
        &--location {
          ion-icon {
            color: #8c8c8c;
          }
        }
        &--time {
          ion-icon {
            color: rgb(145, 145, 145);
            font-size: 0.9rem;
          }
        }
        &--tickets {
          ion-icon {
            color: #8c8c8c;
          }
        }
      }
      .event__description {
        padding: 2rem 0;
        font-size: 0.8rem;
      }
    }
  }
}

ion-spinner {
  position: relative;
  top: 50%;
  left: calc(50% - 1rem);
}
